.card{
    
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px 20px 20px 20px;
}
.card:before{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 10px;
}
.cardIMG{
    
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.cardTitle{
    font-size: 18px;
    position: absolute;
    z-index: 2;
    color: white;
    width: 335px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}