.aboutBanner{
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../bannerabout.png');
    background-position: center;
    background-size: contain;
    padding: 120px 0px 120px 0px;
    margin: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
@media screen and (max-width: 500px) {
    .aboutBanner{
        margin: 0px 20px 0px 20px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../bannerAboutResponsive.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}