.banner{
  
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../banner.png');
    background-position: center;
    background-size: contain;
    color: #ffffff;
    text-align: center;
    padding: 120px 0px 120px 0px;
    margin: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.bannerText{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;

}
@media screen and (max-width: 500px) {
    .banner{
        margin: 0px 20px 0px 20px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../bannerResponsive.png');
        padding: 70px 0px 70px 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bannerText{
        font-size: 24px;
    }
}